.booktable_title {
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 15px;
}

  .add-table {
     padding: 30px;
    display: flex;
    justify-content: center;
  }
  
  .add-table1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;
    text-align: center;
  }

  .add-table1:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .add-table2 {
    padding: 20px 20px;
  }

  .select_set{
      text-align: center;
      margin-bottom: 40px;
  }
  
  .select {
    width: 300px;
    height: 40px;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
  }
  
  button {
    margin: 10px;
  }

  .date_view{
      margin-top: 10px;
  }
   
  .picker{
    height: 30px;
    width: 200px;
    border-radius: 5px;
  justify-items: center;
  size: 20px;
  margin-left: 10px;}
  
  .text-center {
    margin-top: 10px;
  }

  .set_lable{
      margin-top: 20px;
  }
  
  .input_set{
      text-align: center;
  }
  
  .input_field {
    margin-top: 10px;
    height: 35px;
    width: 300px;
    border-radius: 5px;
  }
  
  .phone_field {
      text-align: center;
  }
  .handle_submit {
    height: 40px;
    width: 120px;
    color: white;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    background-color: black;
  }

  .handle_submit:hover {
   
    color: rgb(0, 0, 0);
    cursor: pointer;
    background-color: rgb(211, 211, 211);
  }

  .submit_booktable {
      text-align: center;
      margin-bottom: 30px;
  }
  