.moe {
    margin-top: 5px;
    color: black;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
            
  .moe1 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .moe2 {
    height: 30px;
    width: 200px;
  }

  .mot {
    margin-top: 5px;
    color: black;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
            
  .mot1 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mot2 {
    height: 30px;
    width: 200px;
  }
  
  .mon {
    margin-top: 1px;
    margin-bottom: 5px;
    color: black;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .mon1 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mon2 {
    height: 30px;
    width: 200px;
  }
  
 
  .mob {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mob1 {
    height: 30px;
    width: 100px;
    cursor: pointer;
  }
  
  .mk{
    display: flex;
    justify-content: center;
  }
  
  .mk1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;
   
  }
  .mk1:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .mk2 {
    padding: 20px 20px;
  }
  
  .rnt td {
    padding: 10px;
    text-align: left;
    background-color: rgb(120, 187, 187);
    font-size: 25px;
  }
  
  .rnt{
    width: 100%;
  }
  
  .rnt1{
    width: 100%;
  
  }
  
  .rnt1 td{
      padding: 10px;
      border-bottom: 1px solid #ddd;
      text-align: left;
  
  }
  
  .rnt1 tr:hover {
    background-color: #f5f5f5;
  }
  
  .rnv{
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .rnv1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 70%;
   
  }
  .rnv1:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .rnv2 {
    padding: 5px 20px;
  }
  
  .rns {
    text-align: right;
  }

  .mks{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }