img {
  justify-content: center;
}

.image {
  height: 200px;
  width: 200px;
}

.Allpage {
  height: 100vh;
  width: 100%;
  display: flex;
  margin: 5px;
  //background:#DDAF94;
  justify-content: space-between;
}

.wrapper-nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "overlap";
}

.counter {
  background: rgb(0, 0, 0);
  margin: auto;
  border-radius: 3px;
  color: white;
  height: 20px;
  width: 20px;
}

.items1 {
  background: #ddaf94;
}

.Order-Note {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.flex1 {
  flex: 1;
  margin: 5px;
}

.flex2 {
  flex: 3;
  margin: 5px;
}

.category-card {
  display: inline-block;
  padding: 50px;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: -10px;
  margin-bottom: 20px;
}

.category-card .cardItems {
  box-sizing: border-box;
  border-radius: 5px;
  height: 50px;
  align-items: center;
  width: 200px;
  cursor: pointer;
  border: 2px solid;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #ebcebf;
}

.cardItems:hover {
  background: #d6a98f;
}

.card-menus {
  display: flex;
  padding: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: row wrap;
  margin-top: 10px;
  margin-bottom: 20px;
}

.card-menus .cardItem-menus {
  box-sizing: border-box;
  box-sizing: initial;
  border-radius: 5px;
  border: 2px solid;
  margin: 15px;
  margin-bottom: 20px;
  background: #ebcebf;
  box-shadow: 0 0 25px 10px rgba(25, 25, 25, 0.1);
}

.category-content {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-style: oblique;
  font-size: 20px;
  font-family: monospace;
}

.state {
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.priority {
  height: 30px;
  width: 70px;
  margin-top: 20px;
  margin: 10px;
}

.addCart {
  height: 30px;
  width: 130px;
}

.Font1 {
  color: rgb(255, 255, 255);
}

.logo {
  text-align: center;
  background: transparent;
}

.content-data {
  text-align: center;
  font-style: normal;
  color: black;
  font-weight: 100;
  margin-top: 10px;
}

.menu-data {
  font-weight: bold;
  font-size: 20px;
  margin: 10px;
}

.menu-price {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin: 10px;
}

.menu-description {
  color: rgb(0, 0, 0);
  margin: 10px;
  font-size: 15px;
}

.titles {
  color: white;
  font-weight: bold;
  padding: 5px;
}

.Lists {
  width: 100%;
  //background: #EBCEBF;
  height: 50px;
  text-align: center;
}

.addCart {
  height: 35px;
  width: 120px;
  margin: 20px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  //background-color: #ddaf94;
}

.addCart:hover {
  background-color: #c79373;
  cursor: pointer;
}

.priority-set {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  justify-content: space-evenly;
}

.priority-btn {
  height: 25px;
  width: 25px;
  color: rgb(34, 0, 0);
  //background-color: #ddaf94;
  font-weight: bold;
}

.priority-btn:hover {
  background-color: #c79373;
  cursor: pointer;
}

.p-data {
  color: rgb(34, 0, 0);
  font-size: 16px;
}

.q-data {
  color: rgb(34, 0, 0);
  font-size: 16px;
}

.Quantity-set {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.Quantity-btn {
  height: 25px;
  width: 25px;
  color: rgb(34, 0, 0);
  //background-color: #ddaf94;
  font-weight: bold;
}

.Quantity-btn:hover {
  background-color: #c79373;
  cursor: pointer;
}

.Allpage-menu {
  display: flex;
  margin: 5px;
}

.All-menu {
  //background: #ddaf94;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.urel {
  margin-top: 30px;
}

.urel1 {
  margin-top: 10px;
  width: 80%;
  height: 30px;
  font-size: 15px;
}

.urpn {
  margin-top: -10px;
}

.urpn1 {
  margin-top: 10px;
  width: 80%;
  height: 30px;
  font-size: 15px;
}