 .container2 {
  flex-direction: column;
  justify-content: center;
  height: 50%;
  width: 50%;
  background-color: rgb(53, 52, 52);
  align-items: center;
  margin: auto;
  margin-bottom: 30px;
}

h4 {
  font-size: 25px;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 30px;
  padding: 20px;
}

.file {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #65c768;
  align-items: center;
  justify-content: center;
  display: flex;
}

.title {
  margin-top: 50px;
  margin-bottom: 5px;
  color: white;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.text1 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text2 {
  height: 30px;
  width: 200px;
}

.price{
  color: white;
  margin: 50px;
}

.offer1{
  color: white;
  margin: 50px;

}

.offer2{
  color: white;
  margin: 50px;


}

.description{
  color: white;
  margin: 50px;

}

.price1 {
  margin-top: 50px;
  margin-bottom: 5px;
  color: white;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.price2 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price3 {
  height: 30px;
  width: 200px;
}

.dsc {
  margin-top: 50px;
  margin-bottom: 5px;
  color: white;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.dsc1 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dsc2 {
  height: 50px;
  width: 300px;
}

.button4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.btn4 {
  height: 40px;
  width: 90px;
  background-color: rgb(105, 103, 103);
  color: white;
  border: 2px solid rgb(42, 42, 43);
  font-size: 20px;
  margin-bottom: 30px;
  cursor: pointer;
}

.container3 {
  flex-direction: column;
  justify-content: center;
  height: 50%;
  width: 50%;
  background-color: rgb(53, 52, 52);
  align-items: center;
  margin: auto;
}

h5 {
  padding: 20px;
  font-size: 25px;
  margin-bottom: 50px;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
}


#table1 {
  width: 100%;
}

#table1 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: white;
}

#students1 {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 50%;
}

#students1 th {
  border: 1px solid;
  padding: 10px;
  color: white;
}

#students1 tr:hover {
  background-color: rgb(75, 73, 73);
}

.card1 {
  height: 100vh;
}

.name {
  color: white;
  font-size: 20px;
  margin-left: 20px;
  display: flex;

}

.image {
  display: flex;
  margin-left: 40px;

}

.img {
  height: 100px;
  width: 100px;
}

.button5 {
  margin-left: 700px;
  display: flex;
  margin-top: -40px;
}

.btn5 {
  height: 30px;
  width: 50px;
  background-color: rgb(105, 103, 103);
  color: white;
  border: 2px solid rgb(42, 42, 43);
  font-size: 20px;
  cursor: pointer;
}

.button6 {
  margin-left:10px;
  display: flex;
  margin-top: -30px;
}

.btn6 {
  height: 30px;
  width: 80px;
  background-color: rgb(105, 103, 103);
  color: white;
  border: 2px solid rgb(42, 42, 43);
  font-size: 20px;
  cursor: pointer;
}

@media screen and (max-width: 300px) {
  .container2 {
    width: 30%;
    height: 30%;
    justify-content: center;
    align-items: center;
  }
  .container3 {
    width: 30%;
    height: 30%;
    justify-content: center;
    align-items: center;
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
background-color: rgba(209, 236, 236, 0.1);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  height: 100%;
  width: auto;
  background: rgb(247, 27, 27);
} 