.menu{
  
    text-decoration: none;
    color: white;
    margin-left: 1250px;
    font-size: x-large;
   
}

.menu:hover {
    color: rgb(11, 229, 236);
}

.logout{
  
    text-decoration: none;
    color: white;
    margin-left: 70px;
    font-size: x-large;
   
}

.logout:hover {
    color: rgb(11, 229, 236);
}